<html>
<head>
  <title>Calculator</title>

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<%= yield %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>