<div class="title">Miscellaneous Calculators</div>
<div class="paragraph">Below you will find links to three different calculators. The first converts temperatures in fahrenheit to temperatures in kelvin. The second will find the nth number in the Fibonacci sequence that you tell it to. The third will output the factorial of its input.</div>
<br>
<div>Need to figure out air pressure just like Dr. Tinoco taught you? You'll need to be converting <a href="/fahrenheit_to_kelvin">fahrenheit to kelvin</a> fairly often.</div>
<br>
<br>
<div>Find any number in the <a href="/fibonacci">Fibonacci</a> sequence!</div>
<br>
<br>
<div>Find a <a href="/factorial">factorial</a> of any number!</div>
